@model ViewModels.InsertProductViewModel
@{
    ViewData["Title"] = "addProduct";

}

<h2>Add Product </h2>
<div class="container-fluid" style="margin-left:250px">
    <form asp-action="addProduct" role="form">
        @*<div class="mb-3">
                <label class="form-label">ID</label>
                <input type="text" asp-for="ID" class="form-control" placeholder="Enter Store ID">
            </div>*@
        <div class="mb-3">
            <label class="form-label">Enter Product Name</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="">
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Product Quantity</label>
            <input type="number" asp-for="Quantity" class="form-control" placeholder="">
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Product Price</label>
            <input type="number" asp-for="Price" class="form-control" placeholder="">
        </div>

        @*<div class="mb-3">
                <label class="form-label">Rate</label>
                <input type="text" asp-for="Rate" class="form-control" placeholder="Enter Product Rate">
            </div>*@
        <div class="mb-3">
            <label class="form-label">Enter Product Description</label>
            <input type="text" asp-for="Description" class="form-control" placeholder="">
        </div>
        <br />
        @Html.DropDownList("catID", (IEnumerable<SelectListItem>)ViewBag.categories as SelectList, "Select Product Category", new { @class = "form-control" })
        <br />
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="product-image">
                        <p class="text"></p>
                    </div>
                    <div class="upload-image-sec">
                        <!-- upload inputs -->
                        <p class="text"><img src="~/img/camera.png" alt="">upload image</p>
                        <div class="upload-catalouge">
                            <input type="file" class="fileupload" name="imgspathes" asp-for="imgspathes[0]" id="first-file-upload-btn" hidden accept=".png, .jpg">
                            <label for="first-file-upload-btn" class="upload-image"></label>

                            <input type="file" class="fileupload" name="imgspathes" asp-for="imgspathes[1]" id="second-file-upload-btn" hidden accept=".png, .jpg">
                            <label for="second-file-upload-btn" class="upload-image"></label>

                            <input type="file" class="fileupload" name="imgspathes" asp-for="imgspathes[2]" id="third-file-upload-btn" hidden accept=".png, .jpg">
                            <label for="third-file-upload-btn" class="upload-image"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-light">Submit</button>
    </form>

    <style>
        label {
            color: azure
        }
    </style>














    <!--<h2>Add Product </h2>
    <div class="container-fluid" style="margin-left:250px">
        <form asp-action="Addimage" role="form">-->
    @*<div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" asp-for="ID" class="form-control" placeholder="Enter Store ID">
        </div>*@

    @*<div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Enter Product Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Quantity</label>
            <input type="text" asp-for="Quantity" class="form-control" placeholder="Enter Product Quantity">
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="text" asp-for="Price" class="form-control" placeholder="Enter Product Price">
        </div>*@
    @*<div class="mb-3">
                    <label class="form-label">Image</label>
        <<<<<<< HEAD
                    <input type="text" asp-for="Product_Images" class="form-control" placeholder="Enter Product Image">
                </div>
        =======
                    <input type="text" asp-for="Imag" class="form-control" placeholder="Enter Product Image">
                </div>*@
    @*>>>>>>> f82dacc2bb8e14d124ef1f25f47e6e69c273e583
        <div class="mb-3">
            <label class="form-label">Rate</label>
            <input type="text" asp-for="Rate" class="form-control" placeholder="Enter Product Rate">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" asp-for="Description" class="form-control" placeholder="Enter Product Description">
        </div>

        <div class="mb-3">
            <label class="form-label">CurrentCategoryID</label>
            <input type="text" asp-for="CurrentCategoryID" class="form-control" placeholder="Enter Product CurrentCategoryID">
        </div>*@

    @*<div class="mb-3">
        <label class="form-label">CurrentSupplierID</label>
        <input type="file" asp-for=" " value="2" class="form-control" placeholder="Enter Product CurrentSupplierID">*@

    <!--</div>-->
    @*@Html.ActionLink("add", "Addimage", new { file = @file }, new { @class = "btn btn-danger" })*@

    <!--<button type="submit" class="btn btn-light">Submit</button>
        </form>
    </div>-->
