@*@using Models;
@model Store
@{
    ViewData["Title"] = "addStore";
}*@

<<<<<<< HEAD
<!--<h2>Add Store</h2>
<div class="container-fluid" style="margin-left:250px">
=======
<h2>Add Store</h2>
@*<div class="container-fluid" style="margin-left:250px">
>>>>>>> f82dacc2bb8e14d124ef1f25f47e6e69c273e583
    <form asp-action="addStore" role="form">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" asp-for="ID" class="form-control" placeholder="Enter Store ID">
        </div>-->
        <!--   <div class="mb-3">
           <label class="form-label">Name</label>
           <input type="text" asp-for="Name" class="form-control" placeholder="Enter Store Name">
       </div>-->
        <!--<div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" asp-for="Address" class="form-control" placeholder="Enter Store Address">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" asp-for="Phone" class="form-control" placeholder="Enter Store Phone">
        </div>
        <button type="submit" class="btn btn-light">Submit</button>
    </form>
<<<<<<< HEAD
</div>-->
=======
</div>*@
>>>>>>> f82dacc2bb8e14d124ef1f25f47e6e69c273e583
