
@using Models;
@model Product

@{
    ViewData["Title"] = "editProduct";
}
<h2>Edit Product</h2>


<div class="container-fluid" style="margin-left:250px">
    <form asp-action="editProduct" role="form">

        <div class="mb-3">
            <label class="form-label">Enter Product Name</label>
            <input type="text" asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Product Quantity</label>
            <input type="text" asp-for="Quantity" class="form-control" placeholder="">
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Product Price</label>
            <input type="text" asp-for="Price" class="form-control" placeholder="">
        </div>

        @*<div class="mb-3">
            <label class="form-label">Rate</label>
            <input type="text" asp-for="Rate" class="form-control" placeholder="Enter Product Rate">
        </div>*@
        <div class="mb-3">
            <label class="form-label">Enter Product Description</label>
            <input type="text" asp-for="Description" class="form-control" placeholder="">
        </div>

        @Html.DropDownList("catID", (IEnumerable<SelectListItem>)ViewBag.categories as SelectList, "Select Product Category", new { @class = "form-control" })

       

        <button type="submit" class="btn btn-light">Save</button>
    </form>

    <style>
        label {color:azure}
    </style>