

@{
    ViewData["Title"] = "UpdateCategory";
}

@using Models;
@model Category;
<div class="all-content-wrapper">
    <br>
    <br>
    @using (Html.BeginForm("Updateategory", "AdminDashboard", "Post"))
    {
        <div class="review-content-section">
            <div class="input-group mg-b-pro-edt">
                @Html.LabelFor(c => c.Name, new { @class = "input-group-addon" })
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control", placeholder = "Category Name" })
            </div>
            <div class="input-group mg-b-pro-edt">

                @Html.LabelFor(c => c.Description, new { @class = "input-group-addon" })
                <br>

                @Html.TextAreaFor(c => c.Description, new { @class = "form-control", rows = "5", placeholder = "Description" })
            </div>
            <input type="submit" value="Save Category" class="btn btn-success" />

        </div>
    }
</div>


